.content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    padding-top: 20px;
    background-color: rgba(62, 53, 62, 0.6);
    border-color: black;
    border-style: solid;
    border-width: 5px;
    grid-template-areas:
      ". . . . ."
      ". . . . ."
      "last-row last-row last-row last-row last-row";
  }

  .last-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
      ". . . . . .";
    grid-area: last-row;
  }
  
  .content-header {
    grid-area: content-header;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    color: rgb(180, 16, 16);
  }


  .tooltip {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-image: linear-gradient(grey, white);
    color: black;
    border-radius: 6px;
    padding: 0 5px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: smaller;
    font-weight: lighter;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: white transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

  p.tooltip-header {
    color: rgb(180, 16, 16);
    text-align: left;
    font-weight:bold;
    margin-block-end: 0;
  }

  p.description {
    margin-block-start: 0;
  }

  .drink-img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
      text-align: center;
  }

  .drink-name{
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: smaller;
    font-weight: lighter;
    text-shadow: 1px 1px 2px black;
  }

  .drinks {
      margin-left: auto;
      margin-right: auto;
  }

  /* The Modal (background) */
.drink-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.drink-modal-content {
  background-color: #d8d8d8;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 15px;
  width: 30%;
}

.drink-modal-img {
    max-width: 100%;
}

/* The Close Button */
.drink-modal-close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.drink-close:hover,
.drink-close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}